.lotomania-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleLotomania {
  color: orange;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.btn-lotomania {
  background-color: orange;
  padding: 12px 10px;
  font-size: 1.2rem;
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 1.2rem;
  margin-top: 0.6rem;
  box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.75);
}

.btn-lotomania:hover {
  background-color: rgba(255, 166, 0, 0.427);
  color: rgb(131, 85, 1);
  cursor: pointer;
}

.btn-lotomania:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}

.list-lotomania {
  background-color: orange;
  color: white;
}

.list-lotomania:hover {
  background-color: rgba(255, 166, 0, 0.427);
  color: rgb(131, 85, 1);
}

/* --------- */
/* Responsividade */

@media (max-width: 482px) {
  .titleLotomania {
    font-size: 1.8rem;
  }

  .btn-lotomania {
    padding: 10px 8px;
    font-size: 1.1rem;
  }
}

@media (max-width: 481px /*Min 320*/) {
  .titleLotomania {
    font-size: 1.6rem;
  }

  .btn-lotomania {
    padding: 8px 6px;
    font-size: 0.9rem;
  }
}
