.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.paragrafo {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.sortContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: white;
  margin: 30px auto;
  max-width: 55rem;
  height: auto;
  padding: 1.2rem;
  border-radius: 1.2rem;
  box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.75);
}

.btnLimpar-container {
  display: flex;
  justify-content: center;
  margin: 1.2rem 0 2rem;
}

.btnLimpar {
  background-color: rgba(0, 0, 255, 0.319);
  border: none;
  padding: 1.2rem;
  border-radius: 1.2rem;
  font-size: 1rem;
  color: blue;
  font-weight: bold;
  box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.75);
}

.btnLimpar:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.btnLimpar:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}

.result {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.list-numbers {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.9rem;
  font-weight: bold;

  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;

  list-style: none;
  font-size: 2rem;
  text-align: center;
}

/* ---------------------- */
/* Responsividade */
@media (max-width: 896px) {
  .card {
    width: 45rem;
  }
}

@media (max-width: 769px /*Min 481*/) {
  .card {
    width: 27rem;
  }

  .sortContainer {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .title {
    font-size: 2rem;
  }

  .paragrafo {
    font-size: 1rem;
  }

  .btnLimpar {
    padding: 1rem;
    margin-top: 1.2rem;
    font-size: 1rem;
  }

  .list-numbers {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.9rem;
    font-weight: bold;

    width: 4rem;
    height: 4rem;
    border-radius: 100%;

    list-style: none;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 481px /*Min 320*/) {
  .card {
    width: 19rem;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .paragrafo {
    font-size: 0.8rem;
  }

  .result {
    font-size: 0.8rem;
  }

  .btnLimpar {
    padding: 0.8rem;
    font-size: 0.8rem;
  }
}
