.title {
  text-align: center;
}

.container {
  margin: 20px auto;
  border: 1px solid black;
  width: 35rem;
  height: auto;
  padding: 1.2rem;
}

.block-megaSena {
  display: flex;
  flex-direction: column;
}
