.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.paragrafo {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.sortContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.card {
  width: 90%;
  background-color: white;
  margin: 30px auto;
  height: auto;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.75);
}

.btnLimpar-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem;
}

.btnLimpar {
  background-color: rgba(0, 0, 255, 0.319);
  border: none;
  padding: 1rem;
  border-radius: 1.2rem;
  font-size: 0.8rem;
  color: blue;
  font-weight: bold;
  box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.75);
}

.btnLimpar:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.btnLimpar:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}

.result {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.list-numbers {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.9rem;
  font-weight: bold;

  width: 4rem;
  height: 4rem;
  border-radius: 100%;

  list-style: none;
  font-size: 1.8rem;
  text-align: center;
}

/* ---------------------- */
/* Responsividade */
@media (min-width: 512px) {
  .btnLimpar {
    font-size: 1.2rem;
  }

  .paragrafo {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .sortContainer {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .sortContainer {
    justify-content: center;
    gap: 2rem;
  }
}
